.App {
  position:relative;
  text-align: center;
  align-items: center;
  background-color: #E6F4F4;
  width: 100%;
  height: 3000px;
  z-index:-10


}

.Name_Header {
  position: relative;

  height: 100px;
  width: 600px;
  top: 0px;

  justify-content: center;
  z-index: 0;
}

.name {
  font-family: "Calibri";
  font-weight: lighter;
  font-size:70px;
  position:relative;
  width: 500px;
  height:100px;
  margin-left:150px;
  letter-spacing: 3px;


  /*z-index: 0;*/
  display: flex;
  flex-direction: column;

}
.name_bubble {
  position: relative;
  width: 500px;
  height:500px;
  bottom: 90px;
}


.About{
  position:relative;
  width: 400px;
  height: 400px;
  margin-left: 900px;
  margin-top:0px;
}
.profile_pic {
  position:relative;
  top:5px;
  margin-right:30px;
}
.about_circle {
  position:relative;
  /* width: 400px;
  height: 400px;
  margin-left: 300px;
  margin-top:130px;  */
}
.hello_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;

  font-size:56px;
  position:relative;
  width:300px;
  left:30px;
  bottom:490px;  
}
.about_text {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size:24px;
  position:relative;
  width:250px;
  left:50px;
  bottom:250px;  
}

.Exp_Section {
  margin-top:340px;
  width:100%;
  height:500px;
  
}


.Exp_Header {
  position:relative;
  height:100px;
  font-family: sans-serif;
  font-weight: lighter;
  color:#2478AC;
  align-items: center;
  text-align: center;
  font-size:80px;
  margin-left:34%;

}
.exp_title {
  position:relative;
  letter-spacing: 3px;
  top:10px;
  left: 30px;
  
}
.exp_bubble {
  position:relative;
  z-index:-1;
  bottom:70px;

}

.Codebase_Section {
  margin-top: 80px;
  width:300px;
  height:300px;
  margin-left: 230px;
  text-align: left;
}

.codebase_text {
  font-size:18px;
  font-family: "Montserrat", "Calibri";
  font-weight: normal;

}

.Atma_Section {
  width:400px;
  height:300px;
  margin-left: 230px;
  text-align: left;
}

.atma_header {
  width:400px;
  font-weight: bold;
  font-size:60px;
}

.atma_text {
  width:300px;
  font-size:18px;
  font-family: "Montserrat", "Calibri";
  font-weight: normal;
}

.Exp_Contents {
  display: flex;
  flex-direction: row;
}

.lang_skills {
  text-align: right;
  font-family: "Calibri", sans-serif;
  font-size:30px;
  width:200px;
  margin-left: 270px; 
  margin-top: 100px;
  letter-spacing: 1px;

}

.lang_list{
  font-size: 20px;
  font-style: sans-serif;
  font-weight: lighter;
  width:150px;
  margin-left: 150px; 

  text-align: right;
}

.skills {
  margin-top:70px;
}

.skills_list{
  font-size: 20px;
  font-style: sans-serif;
  font-weight: lighter;
  width:300px;
  margin-right: 10px; 
  margin-left:0px;

  text-align: right;
}

.Proj_Section {
  margin-top:500px;
  width:100%

}


.Proj_Header {
  position:relative;
  height:100px;
  font-family: sans-serif;
  font-weight: lighter;
  color:#2478AC;
  align-items: center;
  text-align: center;
  font-size:80px;
  margin-left:37%;

}
.proj_title {
  position:relative;
  letter-spacing: 3px;
  top:10px;
  left: 30px;
  
}
.proj_bubble {
  position:relative;
  z-index:-1;
  bottom:70px;

}

.Proj_Contents {
  display: flex;
  flex-direction: row;
}


/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
